<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <title></title>
    <style>
        *,
        *::before,
        *::after {
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
    <body>
        <!-- <nav id="appbar"></nav> -->
    </body>
</html>